/***** Content *****/
body {
	width: 100%;
	background: #000;
	font:14px Arial, Helvetica, sans-serif;
	color:#808080;
}

header, section {
	position: absolute;
	float: left;
	margin:  15% 0;
	left: 20%;
}
.mantenimiento { 
	top: 0;
}
#logo {
	width:25%;
	height:15%;
}
.texto {    
	position: absolute;
	float: center;
	top: 65px;
	margin-left: 300px;
	color:#9A9A9A;
	font-size:30px;
}

/***** Footer *****/
footer {
	padding:10px 15px 5px; 
	margin:3%;
	height:15%; 
	width: 100%; 
	position:absolute;
   	bottom:0;
}
footer a {
	color:#808080;
}
footer a:hover {
	color:#fff;
}
#icons {
	float:right;
	width: 25%;
	list-style-type:none;
}
#icons li {
	padding-right:25px
}
#icons .list_title {
	font-size:18px;
	color:#fff;
	letter-spacing:-1px;
}
#horizontal li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
