/***** Global properties *****/
body {
	background:url(../images/top.gif) 0 0 repeat-x #000;
	border:0;
	font:14px Arial, Helvetica, sans-serif;
	color:#808080;
	line-height:24px;
}
.ic, .ic a {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0;
}
.css3{
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	position:relative;
}
/***** Global Structure *****/
.main {
	margin:0 auto;	
	width:100%;
	position:relative;
}
.bg1 {
	background:#090909;
}
/* Left & Right alignment */
.left  {
	float:left;
}
.right  {
	float:right;
}
.wrapper {
	width:100%;
	overflow:hidden;
}
/***** Main layout *****/
a {
	color:#0E6387;
	text-decoration:none;
	outline:none;
}
a:hover {
	color:#fff;
}
h1 {
	float:left;
	padding:45px 0 15px 0;
}
h2 {
	font-size:33px;
	color:#fff;
	font-weight:700;
	line-height:1.2em;
	padding:38px 0 15px 0;
	letter-spacing:-1px;
}
h3 {
	font-size:27px;
	color:#fff;
	font-weight:700;
	line-height:1.2em;
	padding:33px 0 15px 0;
	letter-spacing:-1px;
}
h3.color1 {
	padding:0 0 7px 0
}